*.iml
*.keystore
*.so
*.class
*.o
*.d
*.jar
.DS_Store
SECRETS.java
.gradle
local.properties
gradle.properties
/.idea/
bin/
gen/
armeabi/
.metadata/
feinnovideo/gen
feinnovideotwo/
FVideoOpencv/
appcompat_v7/gen
FVideo/gen
TestFVideo/gen
!android-support-v4.jar
!android-support-v7-appcompat.jar
!apacheZip.jar
